<div class="jumbotron">
  <div class="container">
    <h1> Welcome to Super Rentals </h1>
    <h3>We hope you find exactly what you're looking for in a place to stay.</h3>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-xs-4 left">
      <h4>{{#link-to 'announcement'}} Announcements {{/link-to}}</h4>
    </div>
    <div class="col-xs-4 center">
      <h4>{{#link-to 'about'}}About{{/link-to}}</h4>
    </div>
    <div class="col-xs-4 right">
      <h4>{{#link-to 'contact'}}Contact{{/link-to}}</h4>
    </div>
  </div>

    <ul>
      {{#each model as |rental|}}
         {{rental-tile rental=rental}}
      {{/each}}
    </ul>

  {{new-rental saveRental2="saveRental3"}}
</div>
